<div class="tab-container" [class.vertical]="isVertical">
  <div class="tab-actions">
    <button
      *ngIf="hasHorizontalScroll || hasVerticalScroll"
      class="scroll-left"
      (click)="scrollStart(tabActions)"
      [class.button-disabled]="isStart"
    >
      <i
        *ngIf="isVertical; else angleLeft"
        class="fa fa-angle-up"
        aria-hidden="true"
      ></i>
      <ng-template #angleLeft>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </ng-template>
    </button>
    <div #tabActions class="tab-actions-list">
      <div
        #tabTitle
        *ngFor="let title of tabsTitle; index as tabIndex"
        (click)="onSelectedTab(tabIndex, tabTitle)"
        class="tab-title"
        [class.active]="tabIndex === selectedTab"
      >
        {{title}}
      </div>
    </div>
    <button
      *ngIf="hasHorizontalScroll || hasVerticalScroll"
      class="scroll-right"
      (click)="scrollEnd(tabActions)"
      [class.button-disabled]="isEnd"
    >
      <i
        *ngIf="isVertical; else angleRight"
        class="fa fa-angle-down"
        aria-hidden="true"
      ></i>
      <ng-template #angleRight>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </ng-template>
    </button>
  </div>
  <div class="tab-content">
    <ng-content></ng-content>
  </div>
</div>

<!-- EXAMPLE -->
<!-- <app-tabs>
    <div #tabContent tab-title="Tab1">Tab1</div>
    <div #tabContent tab-title="Tab2">Tab2</div>
    <div #tabContent tab-title="Tab3">Tab3</div>
</app-tabs> -->

<!-- BOOTSTRAP TABS UASGE -->
<!-- <div class="nav nav-tabs">
  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">Tab1</button>
  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">Tab2</button>
  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">Tab3</button>
</div>
<div class="tab-content tab-content-row">
  <div class="tab-pane fade active show" id="tab1">
    Tab1
  </div>
  <div class="tab-pane fade" id="tab2">
    Tab2
  </div>
  <div class="tab-pane fade" id="tab3">
    Tab3
  </div>
</div> -->
