<app-tabs [orientation]="'horizontal'">
  <app-tab [tabTitle]="'Tạo project bằng create-react-app'">
    <h1 class="text-center">Hướng dẫn tạo project bằng create-react-app</h1>
    <blockquote>
      Chúng ta cần cài đặt NodeJs trước khi bắt đầu:
      <a
        href="https://quocdung0209.blogspot.com/2021/05/install-nodejs-on-unbuntu.html"
        target="_blank"
        rel="noopener noreferrer"
        >Linux</a
      >
      hoặc
      <a
        href="https://quocdung0209.blogspot.com/2021/08/create-and-run-angular-project.html"
        target="_blank"
        rel="noopener noreferrer"
        >Windows</a
      >
    </blockquote>
    <h2>npx</h2>
    <div [appClipboard]="true">
      <div class="terminal">npx create-react-app project-name</div>
    </div>
    <div>
      <em><code>npx</code> có sẵn khi cài đặt npm 5.2+ trở lên.</em>
    </div>
    <h2>npm</h2>
    <div [appClipboard]="true">
      <div class="terminal">npm init react-app project-name</div>
    </div>
    <h2>Yarn</h2>
    <div [appClipboard]="true">
      <div class="terminal">yarn create react-app project-name</div>
    </div>
    <h2>Đọc thêm</h2>
    <ul>
      <li>
        <a
          href="https://github.com/facebook/create-react-app"
          target="_blank"
          rel="noopener noreferrer"
          >Create React App</a
        >
      </li>
      <li>
        <a
          href="https://github.com/facebook/create-react-app"
          target="_blank"
          rel="noopener noreferrer"
          >Create React App - Getting Started</a
        >
      </li>
    </ul>
  </app-tab>
  <app-tab [tabTitle]="'Tạo project bằng Webpack sử dụng Typescript'">
    <h1 class="text-center">Hướng dẫn tạo và cấu hình project bằng Webpack</h1>
    <ng-container *ngTemplateOutlet="webpack"></ng-container>
  </app-tab>
  <app-tab [tabTitle]="'Cấu trúc React Folder tối ưu'">
    <div class="row">
      <div class="col-4">
        <div class="enlighter-default enlighter-t-atomic">
          <div class="enlighter">
            <div><span class="enlighter-text">├───.vscode</span></div>
            <div><span class="enlighter-text">├───public</span></div>
            <div><span class="enlighter-text">└───src</span></div>
            <div><span class="enlighter-text"> ├───@types</span></div>
            <div><span class="enlighter-text"> ├───apis</span></div>
            <div><span class="enlighter-text"> ├───App</span></div>
            <div><span class="enlighter-text"> ├───assets</span></div>
            <div><span class="enlighter-text"> │ └───images</span></div>
            <div><span class="enlighter-text"> ├───components</span></div>
            <div><span class="enlighter-text"> │ ├───Button</span></div>
            <div><span class="enlighter-text"> │ └───Tabs</span></div>
            <div><span class="enlighter-text"> ├───constants</span></div>
            <div><span class="enlighter-text"> ├───guards</span></div>
            <div><span class="enlighter-text"> ├───helpers</span></div>
            <div><span class="enlighter-text"> ├───hooks</span></div>
            <div><span class="enlighter-text"> ├───layouts</span></div>
            <div><span class="enlighter-text"> │ ├───Header</span></div>
            <div><span class="enlighter-text"> │ └───Footer</span></div>
            <div><span class="enlighter-text"> ├───pages</span></div>
            <div>
              <span class="enlighter-text"> │ ├───Administration</span>
            </div>
            <div><span class="enlighter-text"> │ ├───Home</span></div>
            <div><span class="enlighter-text"> │ └───Login</span></div>
            <div><span class="enlighter-text"> ├───reducer</span></div>
            <div><span class="enlighter-text"> ├───routes</span></div>
            <div><span class="enlighter-text"> └───store</span></div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <ul>
          <li>
            <strong>.vscode</strong>: Folder chứa các setting cho Visual Studio
            Code.
          </li>
          <li>
            <strong>public</strong>: Folder chứa các files như index.html,
            favicon.ico, manifest.json, robots.txt và các logo. Nếu chúng ta sử
            create-react-app để tạo project, nó sẽ tự động tạo ra thư mục public
            và các file này.
          </li>
          <li>
            <strong>@types:</strong> Chứa các file <em>.d.ts</em> định nghĩa
            interface, type cho Typescript.
          </li>
          <li>
            <strong>apis:</strong> Hay còn gọi là
            <strong>services. </strong>Chứa các khai báo function get api như
            axios,…
          </li>
          <li><strong>App</strong>: Chứa App component.</li>
          <li><strong>assets</strong>: Chứa ảnh, videos, scss, file, …</li>
          <li>
            <strong>components</strong>: Chứa các folder component, trong mỗi
            folder là các file component.
          </li>
          <li><strong>constansts:</strong> Chứa các các hằng số, enum.</li>
          <li><strong>guards</strong>: Chứa các Route cần quyền truy cập.</li>
          <li>
            <strong>helpers</strong>: Chứa các function hay dùng, lặp đi lặp
            lại.
          </li>
          <li><strong>hooks</strong>: Chứa các hook đang dùng.</li>
          <li><strong>layouts</strong>: Chứa layout của dự án.</li>
          <li><strong>pages</strong>: Chứa các trang của dự án.</li>
          <li><strong>reducer</strong>: Chứa file reducer.</li>
          <li><strong>routes</strong>: Chứa các route.</li>
          <li><strong>store</strong>: chứa file store.</li>
        </ul>
      </div>
    </div>
    <h2>Tài liệu tham khảo</h2>
    <ul>
      <li>
        <a
          href="https://xdevclass.com/cau-truc-react-folder-toi-uu-de-bao-tri-de-nang-cap/"
          target="_blank"
          rel="noopener noreferrer"
          >Cấu trúc React Folder tối ưu, dễ bảo trì, dễ nâng cấp</a
        >
      </li>
    </ul>
  </app-tab>
  <app-tab [tabTitle]="'Cài đặt Extension và config VS Code'">
    <ng-container *ngTemplateOutlet="vscode"></ng-container>
  </app-tab>
</app-tabs>
<ng-template #webpack>
  <app-tabs>
    <app-tab [tabTitle]="'Webpack và Babel là gì?'">
      <blockquote>
        <b>Webpack</b> là một công cụ chạy trên môi trường <b>NodeJs</b>, giúp
        chúng ta đóng gói <b>js, css, image, font</b>… thành một hay nhiều file
        một cách dễ dàng.
      </blockquote>
      <blockquote>
        <b>Babel</b> là trình biên dịch Javascript thành các version thấp cấp
        hơn để phù hợp cho các trình duyệt khác nhau.
      </blockquote>
    </app-tab>
    <app-tab [tabTitle]="'Khởi tạo project'">
      <h2>Khởi tạo project</h2>
      <blockquote>
        <code>yarn init --yes</code> hoặc <code>npm init --yes</code>
      </blockquote>
      <h2>Cài đặt React</h2>
      <div class="terminal">yarn add react react-dom</div>
    </app-tab>
    <app-tab [tabTitle]="'Cài đặt Webpack và các loader'">
      <h2>Cài đặt Webpack và các loader</h2>
      <div [appClipboard]="true">
        <div class="terminal-no-header">
          yarn add webpack@5.4.0 webpack-cli@4.2.0 webpack-dev-server@3.11.0
          style-loader css-loader sass sass-loader file-loader typescript
          ts-loader -D
        </div>
      </div>
      <p><strong>Giải thích</strong></p>
      <ul>
        <li><strong>webpack</strong>&nbsp;là phần lõi của webpack</li>
        <li>
          <strong>webpack-cli</strong> giúp ta gõ được lệnh của webpack trên
          terminal (gián tiếp thông qua file package.json)
        </li>
        <li>
          <strong>webpack-dev-server</strong>&nbsp;hỗ trợ tạo một
          server&nbsp;<strong>localhost</strong>&nbsp;cho môi
          trường&nbsp;<strong>dev</strong>
        </li>
        <li>
          <strong>style-loader</strong
          >,&nbsp;<strong>css-loader</strong>&nbsp;giúp bạn có thể import
          được&nbsp;<strong>css</strong>&nbsp;vào file&nbsp;<strong>js</strong>
        </li>
        <li>
          <strong>sass</strong>,&nbsp;<strong>sass-loader</strong>&nbsp;giúp bạn
          biên dịch&nbsp;<strong>scss</strong>&nbsp;sang&nbsp;<strong
            >css</strong
          >
        </li>
        <li>
          <strong>file-loader</strong>&nbsp;giúp bạn import được các file ví dụ
          như&nbsp;<strong>ảnh</strong>,&nbsp;<strong>video</strong>&nbsp;vào
          file&nbsp;<strong>js</strong>
        </li>
        <li><strong>typescript</strong>: Phần lõi của ngôn ngữ Typescript</li>
        <li>
          <strong>ts-loader</strong>: Giúp tích hợp Typescript vào webpack
        </li>
      </ul>
    </app-tab>
    <app-tab [tabTitle]="'Cài đặt một số plugin bổ trợ webpack'">
      <h2>Cài đặt một số plugin bổ trợ webpack</h2>
      <div [appClipboard]="true">
        <div class="terminal-no-header">
          yarn add clean-webpack-plugin compression-webpack-plugin
          copy-webpack-plugin dotenv-webpack html-webpack-plugin
          mini-css-extract-plugin webpack-bundle-analyzer@4.1.0 -D
        </div>
      </div>
      <p><strong>Giải thích</strong></p>
      <ul>
        <li>
          <strong>clean-webpack-plugin</strong>: Giúp dọn dẹp thư mục build
          trước khi build webpack. Ví dụ thư mục build của bạn đang chứa bản
          build trước, bây giờ bạn build lại thì plugin này sẽ xóa bản build
          trước.
        </li>
        <li>
          <strong>compression-webpack-plugin</strong>: Giúp bạn nén các file
          css, js, html… thành <strong>gzip</strong>
        </li>
        <li>
          <strong>copy-webpack-plugin</strong>: Giúp bạn copy các file ở thư mục
          dev vào thư mục build. Ví dụ bạn có các file như favicon.ico,
          robots.txt cùng cấp với index.html, bạn muốn khi build xong thì các
          file này cũng có mặt ở bản build. Nếu không có plugin này thì bạn phải
          copy thủ công.
        </li>
        <li>
          <strong>dotenv-webpack:&nbsp;</strong>Giúp bạn dùng được các biến môi
          trường ở file <strong>.env</strong> và trong app của bạn
        </li>
        <li>
          <strong>html-webpack-plugin</strong>: Giúp clone ra 1 file index.html
          từ file html ban đầu. Tại sao lại cần clone thì bạn có thể tham khảo
          bài
          <a
            href="https://xdevclass.com/webpack-sieu-toc-2-cau-hinh-typescript-alias-hash-bundle/"
            data-wpel-link="internal"
            >Webpack siêu tốc 2: Cấu hình Typescript, alias, hash bundle</a
          >
        </li>
        <li>
          <strong>mini-css-extract-plugin</strong>: Bình thường thì css sẽ nằm
          trong file js sau khi build. Và khi chạy app thì js sẽ thêm các đoạn
          css đó vào thẻ <code>&lt;style&gt;&lt;/style&gt;</code>. Bây giờ mình
          không muốn như vậy, mình muốn css phải nằm ở file riêng biệt với js và
          khi chạy app thì js sẽ tự import bằng thẻ <code>&lt;link&gt;</code>.
          Đó là chức năng của plugin này
        </li>
        <li>
          <strong>webpack-bundle-analyzer</strong>: Giúp bạn phân tích bản
          build, coi thử thư viện nào đang chiếm bao nhiêu % bản build,…
        </li>
      </ul>
    </app-tab>
    <app-tab [tabTitle]="'Cài đặt ESLint và Prettier'">
      <h2>Cài đặt ESLint và Prettier</h2>
      <div [appClipboard]="true">
        <div class="terminal-no-header">
          yarn add eslint babel-eslint eslint-config-react-app eslint-loader
          eslint-plugin-flowtype eslint-plugin-import eslint-plugin-jsx-a11y
          eslint-plugin-react eslint-plugin-react-hooks
          @typescript-eslint/eslint-plugin @typescript-eslint/parser prettier
          eslint-plugin-prettier eslint-config-prettier -D
        </div>
      </div>
      <p>
        <strong>Giải thích</strong>: Ngoài <strong>prettier</strong>,
        <strong>eslint-config-prettier</strong> và
        <strong>eslint-plugin-prettier</strong> thì còn lại đều là các plugin
        tiêu chuẩn tương tự như bộ cài <strong>Create React App</strong>. Do đó,
        nếu bạn tạo project bằng <strong>Create React App</strong> thì bạn chỉ
        cần install các package cho prettier configuration như sau:
      </p>
      <div class="terminal-no-header">
        yarn add prettier eslint-plugin-prettier eslint-config-prettier -D
      </div>
      <h2>Thêm các file cấu hình</h2>
      <app-code
        [height]="'300px'"
        [code]="env"
        [language]="'.env'"
        [filename]="'.env'"
      ></app-code>
      <p>
        <strong>Tạo file <code>.env</code> ở thư mục gốc</strong> và thêm giá
        trị này vào <code>EXTEND_ESLINT=true</code>. Mục đích là giúp chúng ta
        có thể thêm các linter khác vào <strong>React</strong>.
      </p>
      <p>
        <strong>.eslintrc</strong>: File này nhằm mục đích mở rộng cấu hình
        ESLint React giúp bắt lỗi trên terminal, nếu bạn đã cài extension ESLint
        thì nó sẽ dựa vào file này để bắt lỗi trực tiếp trên editor nữa.
      </p>
      <app-code
        [height]="'300px'"
        [class]="'terminal-no-header'"
        [code]="eslintrc"
        [language]="'json'"
      ></app-code>
      <p>
        <strong>.eslintignore</strong>: File này định danh các đường dẫn mà
        không cần bắt lỗi với ESLint
      </p>
      <app-code
        [height]="'300px'"
        [class]="'terminal'"
        [code]="eslintignore"
      ></app-code>
      <p>
        <strong>.prettierrc</strong>: file này quy định các rule cho
        <strong>prettier</strong>.
      </p>
      <app-code
        [height]="'300px'"
        [class]="'terminal'"
        [code]="prettierrc"
        [language]="'json'"
      ></app-code>
      <p><strong>.prettierignore</strong></p>
      <app-code
        [height]="'300px'"
        [class]="'terminal'"
        [code]="prettierignore"
      ></app-code>
      <h2>Thêm script vào package.json</h2>
      <app-code [height]="'300px'" [code]="packageJson"></app-code>
    </app-tab>
    <app-tab [tabTitle]="'Thêm file tsconfig.json'">
      <h2>Thêm file tsconfig.json để cấu hình Typescript</h2>
      <app-code [height]="'300px'" [code]="tsconfig"></app-code>
    </app-tab>
    <app-tab [tabTitle]="'Thêm file webpack.config.js'">
      <h2>Thêm file webpack.config.js</h2>
      <app-code [height]="'300px'" [code]="webpackConfig"></app-code>
      <p><strong>Giải thích:</strong></p>
      <ul>
        <li>
          <strong>isDev</strong>: Chúng ta có 2 mode là
          <strong>development</strong> và <strong>production</strong> tương
          đương với <strong>dev</strong> và <strong>build</strong>. 2 mode này
          được truyền vào thông qua<strong> –mode</strong> ở script trong
          <strong>package.json</strong>.
        </li>
        <li>
          <strong>isAnalyze</strong>: Nhìn vào file package.json chúng ta có câu
          lệnh <strong>build:analyze</strong>, mình có truyền biến
          <strong>analyze</strong> vào webpack thông qua <strong>–env</strong>.
          Biến này dùng để xác định bạn có dùng plugin<strong
            >BundleAnalyzerPlugin</strong
          >
          hay không.
        </li>
        <li>
          <strong>basePlugins</strong>: Những plugins dùng trong mode
          development.<br />
          Trong CopyPlugin ta thực hiện copy các file từ public sang thư mục
          build
        </li>
        <li>
          <strong>CopyPlugin</strong>: Mình copy mọi file trong thư mục
          <strong>public</strong> vào thư mục <strong>build</strong>, ngoại trừ
          file <strong>index.html</strong>. Vì <strong>index.html</strong> đã có
          <strong>HtmlWebpackPlugin</strong> thực hiện việc copy và generate
          code, nếu không loại trừ sẽ bị xung đột!.
        </li>
        <li>
          <strong>webpack.ProgressPlugin()</strong> giúp chúng ta hiện % khi
          chạy webpack
        </li>
        <li>
          <strong>CompressionPlugin()</strong> giúp chúng ta nén file build
          thành gzip, thỉnh thoảng bạn sẽ thấy một số file kích thước nhỏ không
          được nén, bạn có thể xem cấu hình nén và điều kiện được nén
          <a
            href="https://webpack.js.org/plugins/compression-webpack-plugin/"
            data-wpel-link="external"
            rel="external noopener noreferrer"
            >tại đây</a
          >
        </li>
        <li>
          <strong>prodPlugins</strong>: Những plugins dùng trong mode
          production.
        </li>
        <li>
          <strong>entry</strong>: File đầu vào cho webpack, file này thường là
          file import mọi file khác
        </li>
        <li><strong>module.rules</strong>: Chứa các loader của webpack</li>
        <li>
          Các bạn để ý chỗ <strong>option.name</strong> ở file-loader: Đây là
          nơi bạn có thể thay đổi tên và đường dẫn file sau khi build. Môi
          trường dev thì mình giữ nguyên tên và đường dẫn (như vậy khi inspect
          trên trình duyệt sẽ dễ dàng thấy nguồn gốc file từ đâu ra), còn môi
          trường production thì mình sẽ chuyển vào thư mục static.
        </li>
        <li>
          <strong>contenthash:6</strong> nghĩa là thêm 1 đoạn hash gồm 6 ký tự
          vào tên file.
        </li>
        <li>
          <strong>resolve.extensions</strong>: Thứ tự ưu tiên các file khi
          import
        </li>
        <li>
          <strong>alias</strong>: Tạo alias thuận tiện cho việc import trong
          webpack. Những nơi cần đường dẫn tuyệt đối thì ta phải dùng
          <strong>path.resolve()</strong> hoặc <strong>path.join()</strong>
        </li>
        <li>
          <strong>output.path</strong>: Đường dẫn thư mục build. Mình đặt tên
          thư mục build là build luôn, cho giống với Create React App
        </li>
        <li>
          <strong>output.filename</strong>: Tên file bundle sau khi được build.
          Cũng có thể quy định thư mục mà file build thuộc về
        </li>
        <li>
          <strong>output.publicPath</strong>: Chứa đường dẫn tương đối mà từ
          file&nbsp;<strong>index.html</strong>&nbsp;trỏ đến các file trong thư
          mục <b>build </b>sau khi build. Lưu ý là
          <strong>file index.html</strong> được build nằm trong thư mục tên là
          <strong>build</strong>. Ở các bài trước các bạn sẽ thấy mình để giá
          trị này là <strong>“”</strong>, nhưng bây giờ
          <strong>“/”</strong>.&nbsp; Lý do khi deploy thì
          <strong>“”</strong> trình duyệt nó bảo lỗi không load file được, nên
          phải thêm <strong>“/”</strong> vào nhé.
        </li>
        <li>
          <strong>output.environment:</strong> Mặc định webpack generate ra code
          dùng 1 số cú pháp của <strong>ES6</strong>, nhưng target mình mong
          muốn là ES5 nên mình cần chỉnh một số thông số như sau.
        </li>
        <li><strong>arrowFunction</strong>: Hỗ trợ arrow function.</li>
        <li><strong>bigIntLiteral</strong>: Hỗ trợ BigInt</li>
        <li><strong>const</strong>: Hỗ trợ khai báo const và let</li>
        <li><strong>destructuring</strong>: Hỗ trợ destructuring</li>
        <li><strong>dynamicImport</strong>: Hỗ trợ async import</li>
        <li><strong>forOf</strong>: Hỗ trợ vòng lặp forOf cho các array</li>
        <li><strong>module</strong>: Hỗ trợ moudle ES6 (import … from ‘…’)’</li>
        <li><strong>output.devtool</strong>: tùy chọn sourcemap</li>
        <li>
          <strong>devServer.contentBase</strong>: Chứa đường dẫn tương đối đến
          file&nbsp;<code>index.html</code>
        </li>
        <li><strong>devServer.port</strong>: port khi chạy localhost</li>
        <li>
          <strong>devServer.hot</strong>: Chế độ hot reload. Mặc định thì ở dev
          server thì webpack sẽ refresh lại trang mỗi khi có thay đổi nhỏ trong
          code.
        </li>
        <li>
          <strong>devServer.publicPath</strong>: Chứa đường dẫn tương đối từ thư
          mục&nbsp;<strong>root</strong>&nbsp;trỏ đến thư mục build (ở đây
          là&nbsp;<strong>dist</strong>). Chú ý phải
          thêm&nbsp;<code>/</code>&nbsp;ở trước và sau. Nhưng vì dùng
          HtmlWebpackPlugin nên ta sẽ tính từ chính thư mục dist. Vì thế giá trị
          cần dùng là&nbsp;<code>/</code>. Ở đây mình không dùng giá trị nào cả,
          vì mặc định nó đã là&nbsp;<code>/</code>
        </li>
        <li>
          <strong>devServer.watchContentBase</strong>: Nếu bạn có thay đổi gì
          trong file index.html thì trình duyệt cũng tự động reload.
        </li>
        <li>
          <strong>devServer.historyApiFallback</strong>: Phải set true nếu không
          khi bạn dùng lazyload module React thì sẽ gặp lỗi không load được
          file.
        </li>
        <li><strong>plugins</strong>: Chứa các plugin Webpack.</li>
        <li>
          <strong>performance.maxEntrypointSize</strong>: Khi có 1 file build
          vượt quá giới hạn này (tính bằng byte) thì sẽ bị warning trên
          terminal.
        </li>
      </ul>
    </app-tab>
    <app-tab [tabTitle]="'Tạo thư mục public và các files'">
      <app-code
        [height]="'300px'"
        [code]="index"
        [language]="'html'"
        [filename]="'public/index.html'"
      ></app-code>
      <app-code
        [height]="'300px'"
        [code]="manifest"
        [language]="'json'"
        [filename]="'public/manifest.json'"
      ></app-code>
      <app-code
        [height]="'300px'"
        [code]="robots"
        [language]="'txt'"
        [filename]="'public/robots.txt'"
      ></app-code>
      <p><strong>public/favicon.icon</strong></p>
      <p><strong>public/logo192.png</strong></p>
      <p><strong>public/logo512.png</strong></p>
    </app-tab>
    <app-tab [tabTitle]="'Thêm các files cần thiết để chạy demo project'">
      <app-code
        [height]="'300px'"
        [code]="editorconfig"
        [language]="'.editorconfig'"
        [filename]="'.editorconfig'"
      ></app-code>
      <app-code
        [height]="'300px'"
        [code]="setupTests"
        [filename]="'src/setupTests.ts'"
      ></app-code>
      <app-code
        [height]="'300px'"
        [code]="serviceWorker"
        [filename]="'src/serviceWorker.ts'"
      ></app-code>
      <app-code
        [height]="'300px'"
        [code]="indexTsx"
        [filename]="'src/index.tsx'"
      ></app-code>
      <app-code
        [height]="'300px'"
        [code]="appTsx"
        [filename]="'src/App/App.tsx'"
      ></app-code>
      <app-code
        [height]="'300px'"
        [code]="reportWebVitals"
        [filename]="'src/reportWebVitals.ts'"
      ></app-code>
      <p>
        <strong>Core Web Vitals</strong> (vừa được Google update vào 6/2021) là
        những chỉ được đo bởi Chrome UX report và Google Search Console nhằm
        đánh giá performance của website và xếp hạng điểm SEO. Mỗi chỉ số đại
        diện cho một khía cạnh về trải nghiệm người dùng, tương ứng với các yếu
        tố xếp hạng sau:
      </p>
      <ul>
        <li><em>Loading</em>: Tốc độ tải trang</li>
        <li><em>Interactivity</em>: Khả năng tương tác</li>
        <li><em>Visual stability</em>: Tính ổn định khi hiển thị</li>
      </ul>
      <p>
        Dựa trên 3 chỉ số tương ứng dưới đây hình thành lên Core Web Vitals, đó
        là:
      </p>
      <ul>
        <li>
          <strong>LCP (Largest Contentful Paint)</strong>: LCP đo lường
          <em
            >Thời gian tải hoàn tất nội dung chính được hiển thị đầu tiên khi
            trang tải xong</em
          >. Chỉ số LCP lý tưởng phải đạt 2,5 giây hoặc nhanh hơn.
        </li>
        <li>
          <strong>FID (First Input Delay)</strong>: Thời gian người dùng phản
          hồi tương tác đầu tiên trên website. Chỉ số FID cần tối ưu để đạt dưới
          100 mili giây.
        </li>
        <li>
          <strong>CLS (Cumulate Layout Shift)</strong>: Điểm số thay đổi bố cục
          ở dạng tích lũy. Hay có thể hiểu đây là chỉ số đo khối lượng layout
          hình ảnh bị dịch chuyển đột ngột trên website. Chỉ số CLS tốt nhất mà
          mỗi website cần đạt được để có trải nghiệm tốt nhất là dưới 0,1.
        </li>
      </ul>
      <div>
        <em
          >Xem thêm về Core Web Vitals
          <a
            href="https://www.sapo.vn/blog/core-web-vitals-tro-thanh-yeu-to-xep-hang-moi"
            target="_blank"
            rel="noopener noreferrer"
            >tại đây</a
          >.</em
        >
      </div>
    </app-tab>
    <app-tab [tabTitle]="'Chạy project'">
      <h2>Cấu trúc folders và files hoàn chỉnh</h2>
      <div class="images">
        <img
          src="../../../../assets/images/initial-react-structure.PNG"
          alt="reactjs-structure"
        />
      </div>
      <h2>Chạy project khi dev</h2>
      <div [appClipboard]="true">
        <div class="terminal">yarn start</div>
      </div>
      <h2>Build project để deploy</h2>
      <div [appClipboard]="true">
        <div class="terminal">yarn build</div>
      </div>
      <h2>Build và phân tích source code</h2>
      <div [appClipboard]="true">
        <div class="terminal">yarn build:analyze</div>
      </div>
      <blockquote>
        Ngoài ra bạn có thể <code>yarn lint</code>, <code>yarn lint:fix</code>,
        <code>yarn prettier</code>, <code>yarn prettier:fix</code> như đã định
        nghĩa trong file <strong>package.json</strong>.
      </blockquote>
    </app-tab>
    <app-tab [tabTitle]="'Tài liệu tham khảo'">
      <h2>Tài liệu tham khảo</h2>
      <ul>
        <li>
          <a
            href="https://xdevclass.com/webpack-sieu-toc-cau-hinh-dev-server-babel-loader-style-loader-file-loader/"
            target="_blank"
            rel="noopener noreferrer"
            >Webpack siêu tốc 1: Cấu hình Dev Server, Babel Loader, Style
            Loader, File Loader</a
          >
        </li>
        <li>
          <a
            href="https://xdevclass.com/webpack-sieu-toc-2-cau-hinh-typescript-alias-hash-bundle/"
            target="_blank"
            rel="noopener noreferrer"
            >Webpack siêu tốc 2: Cấu hình Typescript, alias, hash bundle</a
          >
        </li>
        <li>
          <a
            href="https://xdevclass.com/webpack-sieu-toc-3-cau-hinh-react-typescript-eslint-prettier-hoan-chinh-tu-a-z/"
            target="_blank"
            rel="noopener noreferrer"
            >Webpack siêu tốc 3: Cấu hình React, Typescript, ESLint, Prettier
            hoàn chỉnh từ A-Z</a
          >
        </li>
      </ul>
    </app-tab>
  </app-tabs>
</ng-template>
<ng-template #vscode>
  <app-tabs>
    <app-tab [tabTitle]="'Extensions'">
      <h2>Các Extension cho Visual Studio Code hữu ích khi code React</h2>
      <ul>
        <li>
          <strong>Atom One Dark Theme</strong>: Theme Atom cho VS Code, đẹp hơn
          theme mặc định nhiều.
        </li>
        <li>
          <strong>Auto Close Tag</strong>: Tự động đóng tag khi code HTML, JSX
        </li>
        <li>
          <strong>Auto Rename Tag</strong>: Tự động đổi tên tag khi code HTML,
          JSX. Kết hợp với Auto Close Tag sẽ thành bộ đôi tuyệt vời
        </li>
        <li>
          <strong>Bookmarks</strong>: Đánh dấu dòng code để tìm kiếm dễ dàng.
          Khi code bạn dài ngoằn, việc phải scroll lên, scroll xuống để tìm và
          code khá mệt mỏi. Lúc này chỉ cần đánh dấu vị trí, sau đó bạn chỉ cần
          trỏ đến vị trí đó là editor sẽ mở ngay tại vị trí bookmark luôn.
        </li>
        <li>
          <strong>Bracket Pair Colorizer</strong>: Giúp phân biệt các dấu
          &#123;()&#125; khi nó trở nên quá nhiều
        </li>
        <li>
          <strong>Code Spelling Checker</strong>: Kiểm tra lỗi chính tả khi code
          (tiếng Anh thôi nhé)
        </li>
        <li><strong>EditorConfig</strong>: Để chạy được file .editorconfig.</li>
        <li>
          <strong>ES7 React/Redux/React-Native/JS snippets</strong>: Snippet cho
          React, Redux
        </li>
        <li><strong>ESLint:</strong> ESLint cho editor</li>
        <li>
          <strong>GitLens</strong>: Quản lý code tốt hơn với git, hiện thông tin
          người thay đổi file, commit,…
        </li>
        <li><strong>html to JSX</strong>: Chuyển HTML thành JSX</li>
        <li>
          <strong>Live Server</strong>: Tạo server auto reload khi code html
          tĩnh
        </li>
        <li>
          <strong>Material Icon Theme</strong>: Thêm bộ theme icon cho các file,
          folder giúp bạn nhận biết file nhanh chóng
        </li>
        <li><strong>Prettier</strong>: Format code đẹp, xịn</li>
        <li><strong>SVG Viewer</strong>: Xem ảnh svg trên editor</li>
        <li>
          <strong>vscode-styled-components</strong>: Highlight và auto-complete
          cho styled-component như khi code trên file css vậy
        </li>
      </ul>
    </app-tab>
    <app-tab [tabTitle]="'Cấu hình Editor Config'">
      <h2>Cài đặt Workspace setting cho VS Code</h2>
      <div>
        <em
          >VS Code có 2 dạng setting, một là cho user, hai là cho workspace. Nếu
          chúng ta không set workspace thì mặc định VS Code sẽ lấy setting ở
          user. Và setting cũng có 2 cách setting, 1 là setting bằng file JSON,
          2 là bằng UI.</em
        >
      </div>
      <p><strong>Setting VS Code workspace và .editorconfig</strong></p>
      <ol>
        <li>
          Tạo file ./vscode/settings.json ở thư mục chính (root folder):
          <app-code
            [height]="'300px'"
            [code]="vscodeSetting"
            [language]="'json'"
            [filename]="'./vscode/settings.json'"
          ></app-code>
          <p><strong>Giải thích:</strong></p>
          <ul>
            <li>
              Chọn <strong>Default Formatter</strong> là
              <strong>Prettier</strong>
            </li>
            <li>
              <code>"editor.formatOnSave": true</code> để khi lưu thì sẽ tự động
              format (bằng ESLint hay bằng Prettier thì như ta đã định nghĩa
              phía trên)
            </li>
            <li>
              <code>"eslint.format.enable": true</code> để bật tính năng format
              code của ESLint.
            </li>
            <li>
              <code>"source.fixAll.eslint": true</code> để khi lưu thì ESLint sẽ
              tự động format và fix lỗi ESLint cho chúng ta luôn.
            </li>
          </ul>
        </li>
        <li>
          Bổ sung thêm <strong>recommended extension</strong> vào workspace, để
          khi ai mở source code lên thì VS Code sẽ khuyên cài thêm các extension
          này. Chúng ta thêm file <code>extensions.json</code> trong folder
          <code>.vscode</code> nhé. Đây là các extension đã liệt kê phía trên,
          chúng ta chỉ cần copy file này bỏ vào source thì editor sẽ hiện lên
          các recommended extension, không cần tìm kiếm từng cái.
          <app-code
            [height]="'300px'"
            [code]="recommendedExtension"
            [language]="'json'"
            [filename]="'./vscode/extensions.json'"
          ></app-code>
          <p>
            <em
              >Điều này vô cùng hữu ích khi làm việc nhóm, để thống nhất các
              extension và setting giữa các member với nhau thì ta nên share cái
              folder .vscode (cứ để nguyên nó trong source, đừng bỏ vào
              .gitignore là được 😛 ).</em
            >
          </p>
        </li>
        <li>
          Thêm file <code>.editorconfig</code> trong root folder - Cần cài
          <strong>Editor Config</strong> extension cho VS Code
          <p>
            <em>
              EditorConfig sinh ra để thống nhất các chuẩn giữa các editor khác
              nhau. Ví dụ người thì dùng indent là space, người thì dùng
              app-tab; người thì indent là 2, người thì là 4. EditorConfig giúp
              code chúng ta có tính thống nhất, dễ đọc và dễ bảo trì hơn.</em
            >
          </p>
          <app-code
            [height]="'300px'"
            [code]="dotEdiorConfig"
            [language]="'.editorconfig'"
            [filename]="'.editorconfig'"
          ></app-code>
        </li>
      </ol>
    </app-tab>
  </app-tabs>
</ng-template>
