<span
  *ngIf="isShow"
  role="button"
  class="btn btn-menu"
  (click)="toggle()"
  [class.menu-hidden]="!isOpened"
  [style.top.px]="isOpened ? 60 : 8"
>
  <i
    [hidden]="!isOpened"
    class="fa fa-chevron-circle-left fa-2x text-light"
    aria-hidden="true"
  ></i>
  <i
    [hidden]="isOpened"
    class="fa fa-chevron-right fa-2x text-light"
    aria-hidden="true"
  ></i>
</span>
<div *ngIf="isShow" class="sidebar-container" [class.hidden]="!isOpened">
  <div class="sidebar-header">{{pageInfo?.name}}</div>
  <ul class="sidebar">
    <ng-container *ngFor="let route of routes">
      <li
        class="sidebar-item"
        [routerLink]="route.routerLink"
        routerLinkActive="active"
      >
        <span>{{route.name}}</span>
      </li>
    </ng-container>
  </ul>
</div>
