.notfound-page {
  position: relative;
  padding-bottom: 73px;
}

.text-oops {
  font-weight: 800;
  color: transparent;
  font-size: 140px;
  position: relative;
  text-align: center;
  letter-spacing: -8px;
}

.text-error-code {
  text-align: center;
  font-size: 30px;
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
}

.error-message {
  text-align: center;
  margin: 15px;
}
